#game{
	width:800px;
	height:600px;
	border:2px solid;	/*画一个边框，边线宽为2个像素，实线*/
	margin:0 auto;		/*设置对象外边框，横居中、竖不居中；上下为0、左右为auto*/
	position:relative;	/*position把元素放置到一个 相对 的位置中*/
	overflow:hidden;	/*溢出隐藏，*/
}

#game .sky{
	width:1600px;
	height:600px;
	background:url('./img/sky.png');	/*  ./img与img没有区别   */
	position:absolute;				/* 绝对定位 */
	left:0;							/*距离浏览器左为0，上为0*/
	top:0;
}

#game .land{
	width:1600px;
	height:112px;
	background:url('./img/land.png');
	position:absolute;
	left:0;
	bottom:0;
}

#game .bird{
	width:33px;
	height:26px;
	background:url('./img/bird.png');
	position:absolute;
	left:200px;
	top:150px;
	z-index:1;		/*设置元素的层叠顺序*/
	background-position:-8px -10px;		/*  */
}

#game .pipeup{
	background:url("img/pipeDown.png") no-repeat left bottom;
	width:52px;
	height:200px;
	position:absolute;
	top:0;
	right:0;
}

#game .pipedown{
	background:url("img/pipeUp.png") no-repeat;
	width:52px;
	height:200px;
	position:absolute;
	bottom:112px;
	right:0;
}

.msg{							/*text-align属性规定HTML元素中的文本的水平对齐方式*/
	text-align:center;			/*代表把HTML元素中的文本排列到中间的意思*/
}							